.tah-action button.tah-pf2e-skill-rank-1 {
    background-color: #171f69;
}

.tah-action button.tah-pf2e-skill-rank-2 {
    background-color: #3c005e;
}

.tah-action button.tah-pf2e-skill-rank-3 {
    background-color: #640;
}

.tah-action button.tah-pf2e-skill-rank-4 {
    background-color: #5e0000;
}

.tah-action button.tah-pf2e-skill-rank-1,
.tah-action button.tah-pf2e-skill-rank-2,
.tah-action button.tah-pf2e-skill-rank-3,
.tah-action button.tah-pf2e-skill-rank-4 {
    color: #ddd;
}

:is(
        .tah-action button.tah-pf2e-skill-rank-1,
        .tah-action button.tah-pf2e-skill-rank-2,
        .tah-action button.tah-pf2e-skill-rank-3,
        .tah-action button.tah-pf2e-skill-rank-4
    )
    :is(.tah-info1, .tah-info2, .tah-info3) {
    color: #ddd;
}

:is(.tah-tooltip, .tah-tooltip-wrapper) .tag.tag_transparent {
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
    color: var(--color-text-light-7);
}

:is(.tah-tooltip, .tah-tooltip-wrapper) .tah-tags-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

:is(.tah-tooltip, .tah-tooltip-wrapper) span[data-pf2-check] {
    background: none;
    border: none;
    color: var(--color-text-light-7);
    font-weight: 600;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

:is(.tah-tooltip, .tah-tooltip-wrapper) span[data-pf2-check] span {
    outline: none;
    padding: 0;
}

:is(.tah-tooltip, .tah-tooltip-wrapper) span[data-pf2-check]::before {
    color: var(--color-text-light-7);
}

:is(.tah-tooltip, .tah-tooltip-wrapper)
    [data-visibility]:not([data-visibility="all"])[data-visibility="gm"] {
    background: none;
}

:is(.tah-tooltip, .tah-tooltip-wrapper)
    [data-visibility]:not([data-visibility="all"])[data-visibility="owner"] {
    background: none;
}

img[src="systems/pf2e/icons/mdi/sword.svg"].tah-list-image,
img[src="systems/pf2e/icons/mdi/thrown.svg"].tah-list-image {
    box-shadow: none;
    filter: invert(100%) sepia(0%) saturate(250%) hue-rotate(190deg)
        brightness(115%) contrast(75%) drop-shadow(1px 1px 1px rgb(0 0 0))
        drop-shadow(0px 1px 3px rgb(0 0 0));
    min-width: 16px;
    width: 16px;
}

.tah-style-pathfinder
    :is(
        img[src="systems/pf2e/icons/mdi/sword.svg"].tah-list-image,
        img[src="systems/pf2e/icons/mdi/thrown.svg"].tah-list-image
    ) {
    box-shadow: none;
    filter: invert(73%) sepia(12%) saturate(1193%) hue-rotate(7deg)
        brightness(104%) contrast(98%) drop-shadow(1px 1px 1px rgb(0 0 0))
        drop-shadow(0px 1px 3px rgb(0 0 0));
    min-width: 16px;
    width: 16px;
}
