.tah-action button.tah-pf2e-skill-rank-1 {
  background-color: #171f69;
}

.tah-action button.tah-pf2e-skill-rank-2 {
  background-color: #3c005e;
}

.tah-action button.tah-pf2e-skill-rank-3 {
  background-color: #640;
}

.tah-action button.tah-pf2e-skill-rank-4 {
  background-color: #5e0000;
}

.tah-action button.tah-pf2e-skill-rank-1,
.tah-action button.tah-pf2e-skill-rank-2,
.tah-action button.tah-pf2e-skill-rank-3,
.tah-action button.tah-pf2e-skill-rank-4 {
  color: #ddd;
}

.tah-action button.tah-pf2e-skill-rank-1 .tah-info1,
.tah-action button.tah-pf2e-skill-rank-1 .tah-info2,
.tah-action button.tah-pf2e-skill-rank-1 .tah-info3,
.tah-action button.tah-pf2e-skill-rank-2 .tah-info1,
.tah-action button.tah-pf2e-skill-rank-2 .tah-info2,
.tah-action button.tah-pf2e-skill-rank-2 .tah-info3,
.tah-action button.tah-pf2e-skill-rank-3 .tah-info1,
.tah-action button.tah-pf2e-skill-rank-3 .tah-info2,
.tah-action button.tah-pf2e-skill-rank-3 .tah-info3,
.tah-action button.tah-pf2e-skill-rank-4 .tah-info1,
.tah-action button.tah-pf2e-skill-rank-4 .tah-info2,
.tah-action button.tah-pf2e-skill-rank-4 .tah-info3 {
  color: #ddd;
}

.tah-tooltip .tag.tag_transparent,
.tah-tooltip-wrapper .tag.tag_transparent {
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
}

.tah-tooltip .tah-tags-wrapper,
.tah-tooltip-wrapper .tah-tags-wrapper  {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.tah-tooltip  span[data-pf2-check],
.tah-tooltip-wrapper span[data-pf2-check] {
  background: none;
  border: none;
  color: var(--color-text-dark-inactive);
  font-weight: 600;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.tah-tooltip span[data-pf2-check] span,
.tah-tooltip-wrapper span[data-pf2-check] span {
  outline: none;
  padding: 0;
}

.tah-tooltip-wrapper [data-visibility]:not([data-visibility=all])[data-visibility=owner] {
  background: none;
}